<div class='photodisplay'>
  <% @photos.each do |photo| %>
    <div class='photo'>
    <a href="<%=photo.url%>"><img src="<%=photo.small_url%>" alt=""></a><br>
    <span class='details'><a href="/users/<%=photo.user.id%>"><%=photo.user.name%></a> <a href="/albums/<%=photo.album.id%>"><%=photo.album.name%></a></span>
    </div>
  <% end %>
</div>

